*{
    margin: 0;
}

.background{
    background-image: linear-gradient(#2F353A, #1C1F22);
    height: 100%;
}

/*.time-white{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 100px;
    line-height: 122px;
    letter-spacing: 0.235em;
    top: 43px;
    left: 112px;
    position: absolute;
}
*/
.time-grad{
    position:absolute;
    z-index: 1;
    top: 43px;
    left: 112px;
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(55,53,77,1));
    background-clip: text;
    /* background: -webkit-linear-gradient(#eee, #333); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-weight:900;
    font-size: 100px;
    line-height: 122px;
    letter-spacing: 0.235em;
}

.menu{
    top:43px;
    right: 112px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu-small{
    top: 200px;
    right: 112px;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* .icon{
    width: 122px;
    height: 118px;
} */

.icon-name{
    z-index: 5;
    font-family: Lato;
    font-size: 18px;
    /* line-height: 35px; */
    color: #7F8489;
    /* margin-right: 12px; */
}
.icon:hover{
    cursor: pointer;

}
.icon-small img{
width:160px;

}